# Created by .ignore support plugin (hsz.mobi)
.idea/
demo10-websocket/node_modules/
demo12-企业后台/node_modules/
demo12-企业后台/src/
demo13-重拾express/node_modules/
demo22-搜索文件小案例/node_modules/
demo25-卡牌游戏诈金花/node_modules/
demo25-卡牌游戏诈金花/dist/images/
demo25-卡牌游戏诈金花/src/images/
demo27-vue/my-project/
demo26-biyuntao/