# Created by .ignore support plugin (hsz.mobi)
.idea/
demo10-websocket/node_modules/
demo12-企业后台/node_modules/
demo12-企业后台/src/
demo13-重拾express/node_modules/
demo22-搜索文件小案例/
demo25-卡牌游戏诈金花/node_modules/
demo28-转门面网/node_modules/
demo25-卡牌游戏诈金花/dist/images/
demo25-卡牌游戏诈金花/src/images/
demo27-vue/my-project/
demo27-vue/node_modules/
demo26-biyuntao/
demo22-搜索文件小案例/src/
demo22-搜索文件小案例/dist/
避孕专卖.zip
"demo13-\351\207\215\346\213\276express/public/javascripts/"
demo27-vue/demo6-vue-cli.html
demo27-vue/readMe.md
"demo28-\350\275\254\351\227\250\351\235\242\347\275\221/"
"demo9-\347\224\265\345\225\206\347\275\221\347\253\231/shop/images/"
"demo9-\347\224\265\345\225\206\347\275\221\347\253\231/shop/scripts/"
