<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>组件</title>
</head>
<body>
    <ol>
        <li><a href="./1.全局组件1.html">全局组件1.html</a></li>
        <li><a href="./2.局部组件1.html">局部组件1.html</a></li>
        <li><a href="./3.is属性来挂载组件.html">is属性来挂载组件.html</a></li>
        <li><a href="./4.组件data.html">组件data.html</a></li>
        <li><a href="./5.组件props.html">组件props.html</a></li>
        <li><a href="./6.组件props2.html">组件props2.html</a></li>
        <li><a href="./7.组件props3.html">组件props3.html</a></li>
        <li><a href="./8.自定义事件.html">自定义事件.html</a></li>
        <li><a href="./9.使用v-model.html">使用v-model.html</a></li>
    </ol>
</body>
</html>