body {
    width: 100vw;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.row {
    margin: 0;
}
img{
    display: block
}

.flex-center {
    display: flex;
    align-items: center;
}


.navbar {
    margin-bottom: 0;
    height: 44px;
    background-color: #fff;
    border: none;
}

.navbar .navbar-brand img {
    width: 73.5px;
    margin-top: -4px;
}

#carousel-generic {
    height: 180px;
    overflow: hidden;
    display: none;
}

#carousel-generic .carousel-caption {
    position: absolute;
    left: 30px;
    top: 30px;
}

.module .module-title {
    text-align: center;
}

.module .module-title h3 {
    height: 35px;
    font-size: 18px;
    color: rgba(32, 32, 32, 1);
    line-height: 36px;
    text-align: center;
    font-weight: 400;
    position: relative;
}

.module .module-title h3::after {
    width: 16px;
    height: 1px;
    left: 50%;
    bottom: 0;
    content: '';
    margin-left: -8px;
    position: absolute;
    background: rgba(242, 73, 87, 1);
}

.module .module-title p {
    font-size: 12px;
    font-weight: 100;
    color: rgba(102, 102, 102, 1);
    line-height: 12px;
}

#module1 .module-list {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 0 15px;
    box-sizing: border-box;
}

#module1 .module-item {
    margin: 0;
    flex: 0 0 168px;
    width: 168px;
    height: 80px;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 14px 1px rgba(21, 21, 21, 0.1);
}

#module1 .module-item h4 {
    font-size: 13px;
    /* font-family: PingFangSC-Regular; */
    font-weight: 400;
    color: rgba(253, 92, 28, 1);
    line-height: 36px;
}

#module1 .module-item p {
    font-size: 12px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(136, 136, 136, 1);
    line-height: 16px;
}