@charset "utf-8";
@base-font-color: #666;
body {
  width: 100%;
  height: 100%;
  background: #fff url("../images/bg@3x.png") no-repeat fixed center;
  background-image: image-set(url("../images/bg@2x.png") 2x, url("../images/bg@3x.png") 3x);
  overflow: hidden;
}