@import './_base.scss';
header.common-header {
    padding: 0 .3rem;
    @include positions($left:0,$top:0,$right:0,$position:fixed);
    z-index: 999;
    height: .88rem;
    //overflow: hidden;
    background-color: #ffffff;
    box-shadow: 1px 0px 1px rgba(0, 0, 0, .3);
    h1{
        line-height: .88rem;
        text-align: center;
        font-size: .36rem;
    }
    ul{
        @include positions($right:.3rem,$top:50%);
        margin-top: -.1rem;
        li{
            background-color: #444444;
            height: .03rem;
            width: .36rem;
            margin-bottom: .1rem;
        }
    }
    ol{
        @include positions($left:0,$bottom:-.8rem,$right:0);
        @include flex-center(0);
        background-color: #fff;
        height: .8rem;
        justify-content: space-around;
        li{
            width: 25%;
            height: 100%;
            text-align: center;
            line-height: .8rem;
            a{
                font-size: .24rem;
            }
            &.active{
                background-color: #f39f14;
                a{
                    color: #ffffff;
                }
            }
        }
    }
}