@import './_base.scss';
header.common-header {
    padding: 0 100px;
    @include positions($left:0,$top:0,$right:0,$position:fixed);
    z-index: 999;
    height: 97px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 1px 0px 1px rgba(0, 0, 0, .3);
    .logo-groups {
        float: left;
        width: 45%;
        height: 100%;
        a {
            float: left;
            width: 22%;
            margin-right: 1.5%;
            height: 100%;
            line-height: 97px;
            overflow: hidden; // @include flex-center(0);
            img {
                width: 100%;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
    .site-logo {
        @include spirit(-536px, 0, 138px, 145px);
        float: left;
        margin-left: -69px;
        margin-top: -72px;
        transform: scale(.5, .5);
        @include positions($left: 50%, $top:50%);
    }
    nav {
        float: right;
        line-height: 97px;
        font-size: 24px;
        width: 30%;
        a {
            float: left;
            width: 25%;
            text-align: center;
            &.active {
                position: relative;
                color: #f39f14;
                &::after {
                    content: '';
                    @include positions($left: 50%, $bottom:20px);
                    height: 4px;
                    background-color: #f39f14;
                    width: 42px;
                    margin-left: -21px;
                    @include rounded-corners(4px);
                }
            }
        }
    }
}