@import './_base.scss';
header.common-header {
    padding: 0 150px;
    position: relative;
    height: 182px;
    overflow: hidden;
    background-color: #ffffff;
    .logo-groups{
        margin-top: 71px;
        float: left;
        width: 33.5%;
        img{
            width: 100%;
        }
    }
    .site-logo{
        @include spirit(-536px,0,138px,145px);
        float: left;
        margin-left: -69px;
        margin-top: -72px;
        @include positions($left:50%,$top:50%);
    }
    nav {
        float: right;
        line-height: 182px;
        font-size: 24px;
        width: 40%;
        a {
            float: left;
            width: 25%;
            text-align: center;
            &.active{
                position: relative;
                color: #f39f14;
                &::after{
                    content: '';
                    @include positions($left:50%,$bottom:45px);
                    height: 4px;
                    background-color: #f39f14;
                    width: 42px;
                    margin-left: -21px;
                    @include rounded-corners(4px);
                }
            }
        }
    }
}