body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  font-size: .3rem;
  //@media (min-width: 750px) {
  //  max-width: 7.5rem;
  //  width: 100vw;
  //  height: 100vh;
  //  margin: 0 auto;
  //  overflow-x: hidden;
  //  background-color: #f7f8f9;
  //}
  img {
    display: block;
  }
  .flex-center {
    display: flex;
    align-items: center;
  }
  > header {
    margin-top: .3rem;
    overflow: hidden;
    @media (min-width: 750px) {
      max-width: 7.5rem;
      margin: 0 auto;
      overflow-x: hidden;
      font-size: .2rem;
    }
    > ul {
      float: right;
      margin-right: .2rem;
      margin-bottom: 0;
      > li {
        margin: 0 .2rem;
        > a {
          font-size: .16rem;
          color: #333;
          &:hover {
            color: #f55053;
          }
        }
      }
    }
  }
  > #carousel-generic {
    overflow: hidden;
    margin: .2rem auto;
    .carousel-indicators {
      li {
        border-color: #37704d;
      }
      li.active {
        background-color: #37704d;
      }
    }
  }
  > #container {
    width: 100%;
    max-width: 1000px;
    margin: .3rem auto;
    @media (min-width: 750px) {
      max-width: 7.5rem;
      margin: 0 auto;
      overflow-x: hidden;
      font-size: .2rem;
    }
    .banner {
      width: 100%;
      justify-content: center;
      margin-bottom: .4rem;
      img {
        width: 100%;
      }
    }
    > form {
      justify-content: center;
      > input {
        height: .36rem;
        font-size: .18rem;
      }
      #search {
        width: 5.4rem;
        color: #4e4e4e;
        padding-left: .1rem;
        box-sizing: border-box;
        border-top-left-radius: .05rem;
        border-bottom-left-radius: .05rem;
        border-right: none;
      }
      input[type="submit"] {
        width: .82rem;
        //background-color: #37704d;
        color: #fff;
        border: none;
        border-top-right-radius: .05rem;
        border-bottom-right-radius: .05rem;
      }
    }
    > .line {
      width: 100%;
      height: 1px;
      margin: .5rem auto;
      background-color: #37704d;
    }
    > .content {
      width: 100%;
      max-width: 1000px;
      > aside {
        > div {
          width: 100%;
          margin-bottom: .3rem;
          img {
            width: 100%;
          }
        }
        #report-logo {
          flex-direction: column;
          > a {
            width: 100%;
            height: .6rem;
            background-color: #666666;
            color: #fff;
            text-align: center;
            line-height: .6rem;
            box-sizing: border-box;
            margin-top: .3rem;
            border-radius: .05rem;
            &:hover {
              border: 1px solid #666666;
              color: #666;
              background-color: #fff;
            }
          }
        }
        #contact-tel {
          position: relative;
          div {
            position: absolute;
            font-family: Georgia;
            font-weight: 400;
            color: #999;
            bottom: 0;
            right: .3rem;
            font-size: .7rem;
            @media (min-width: 750px) {
              bottom: 0;
              right: .35rem;
              font-size: .75rem;
            }
            @media (min-width: 1000px) {
              bottom: 0;
              right: .1rem;
              font-size: .16rem;
            }
          }
        }
        #contact-wechat {
          position: relative;
          .qrcode {
            position: absolute;
            width: 34%;
            top: .27rem;
            left: .6rem;
            @media (min-width: 750px) {
              top: .3rem;
              left: .7rem;
            }
            @media (min-width: 1000px) {
              top: .07rem;
              left: .2rem;
            }
          }
        }
      }
      > main {
        align-self: flex-start;
        .search-result {
          margin-bottom: .2rem;
        }
        .alert-success {
          font-size: .16rem;
        }
      }
    }
  }
  > footer {
    @media (min-width: 750px) {
      max-width: 7.5rem;
      margin: 0 auto;
      overflow-x: hidden;
      font-size: .2rem;
    }
    text-align: center;
    margin: .5rem auto;
    font-size: .14rem;
    color: #808080;
  }
}