body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  font-size: .2rem;
  @media (min-width: 750px) {
    max-width: 7.5rem;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: #f7f8f9;
  }
  img {
    display: block;
  }
  .flex-center {
    display: flex;
    align-items: center;
  }
  > header {
    margin-top: .3rem;
    overflow: hidden;
    > ul {
      float: right;
      margin-right: .2rem;
      margin-bottom: 0;
      > li {
        margin: 0 .2rem;
        > a {
          font-size: .16rem;
          color: #333;
          &:hover {
            color: #f55053;
          }
        }
      }
    }
  }
  > #container {
    width: 100%;
    max-width: 1000px;
    margin: .3rem auto;
    .banner {
      width: 100%;
      justify-content: center;
      margin-bottom: .4rem;
      img {
        width: 100%;
      }
    }
    > form {
      justify-content: center;
      > input {
        height: .36rem;
        font-size: .18rem;
      }
      #search {
        width: 5.4rem;
        color: #4e4e4e;
        padding-left: .1rem;
        box-sizing: border-box;
        border-top-left-radius: .05rem;
        border-bottom-left-radius: .05rem;
        border-right: none;
      }
      input[type="submit"] {
        width: .82rem;
        background-color: #37704d;
        color: #fff;
        border: none;
        border-top-right-radius: .05rem;
        border-bottom-right-radius: .05rem;
      }
    }
    > .line {
      width: 100%;
      height: 1px;
      margin: .5rem auto;
      background-color: #37704d;
    }
    > .content {
      width: 100%;
      max-width: 1000px;
      > aside {
        > div {
          width: 100%;
          margin-bottom: .3rem;
          img {
            width: 100%;
          }
        }
        #report-logo {
          flex-direction: column;
          > a {
            width: 2rem;
            height: .6rem;
            background-color: #666666;
            color: #fff;
            text-align: center;
            line-height: .6rem;
            box-sizing: border-box;
            margin-top: .3rem;
            border-radius: .05rem;
            &:hover {
              border: 1px solid #666666;
              color: #666;
              background-color: #fff;
            }
          }
        }
      }
      > main {
        align-self: flex-start;
      }
    }
  }
  > footer {
    text-align: center;
    margin: .5rem auto;
    font-size: .14rem;
    color: #808080;
  }
}