<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>3.手动挂载实例.html</title>
</head>

<body>
    <script src="https://unpkg.com/vue@2.5.13/dist/vue.min.js"></script>
    <div id="mount-div">

    </div>
    <script>
        let MyComponent = Vue.extend({
            template: `<div>Hello:{{name}}</div>`,
            data() {
                return {
                    name: "Aresn"
                }
            }
        });
        new MyComponent().$mount("#mount-div");
    </script>
</body>

</html>