<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>type = text</title>
</head>

<body>
    <script src="https://unpkg.com/vue@2.5.13/dist/vue.min.js"></script>
    <div id="app">
        <input type="text" v-model="msg" placeholder="说点什么吧...">
        <p style="white-space:pre">说的内容是:{{msg}}</p>
        <input type="text" @input="bindInput" placeholder="说点什么吧...">
        <p>第二个input说的是:{{message}}</p>
        <textarea cols="30" rows="10" v-model="msg" placeholder="说点什么吧..."></textarea>
    </div>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                msg:'',
                message:''
            },
            methods: {
                bindInput(e){
                    console.log(e);
                    this.message = e.target.value;
                }
            }
        });
    </script>
</body>

</html>